# Ollama Configuration
OLLAMA_BASE_URL=""
OLLAMA_EMBED_MODEL=""
OLLAMA_CHAT_MODEL=""

# Qdrant Configuration
QDRANT_BASE_URL=""
QDRANT_COLLECTION_NAME=""
QDRANT_VECTOR_SIZE=""

# Hugging Face Dataset Configuration
HF_DATASET_NAME=""
HF_DATASET_SUBSET=""